body{
    margin: 0;
}
.top-background , .appointment-img {
    background-image: url('/images/background_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.menu{
    text-align: center;
    font-size: 10px;
}

.menu ul{
    padding: 10px;
    
}
.menu ul li{
    display: inline-block;
    font-variant:small-caps;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 30px;
}
a{
    border-bottom: 1px solid transparent;
    color: white;
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid white;
}
.sticky{
    background: #0f4c75;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.sticky ul{
    padding: 0;
    margin: 10px;
}
.page-title{
    text-align: center;
    font-size: 50px;
    padding: 200px;
    color: white;
    letter-spacing: 10px;
    text-shadow: 0 0 5px #0f4c75;
}
.description, .title{
    font-variant: small-caps;
    font-size: 30px;
    margin: 20px;
}

.appointment-flex-item{
    background: #0f4c75;
    color: white;
    height: 500px;
    width: 45%;
    padding: 0px;
    margin: 20px 0px;
    overflow: hidden;
    display: inline-block;
}
.appointment-img{
    background-image: url('/images/background_img.jpg');
}

.appointment-text{
    padding: 200px 20px;
    font-size: 50px;
    background: rgba(0,0,0,0.5);
}
.appointment-form{
    padding: 20px;
}
.appointment-form input, textarea{
    width: 60%;
    max-width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    color: #0f4c75;
    font-size: 16px;

}

.appointment-form textarea{
     height: 100px;
     max-height: 100px;
     max-width: 60%;
     overflow-y: scroll;
}
.appointment-btn{
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 15px;
    outline: none;
}

.appointment-btn:hover{
    background: white;
    color: #0f4c75;
}
   